.headerText {
    font-family: 'Bodoni 72 Smallcaps';
    font-size: 21px;
}
    .headerText-large {
        font-size: 50px;
        text-align: left;
    }

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

img#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
