body {
  padding-top: 5rem;
  color: #ebebeb;
  background-color: #2b3e50;
  /* font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; */
}

 .btn {
	border-radius: 0px;
  text-decoration: none;
}

a {
  color: #ebebeb;
  text-decoration: underline;
}
a.navbar-brand, a.nav-link {
  text-decoration: none;
}

hr { 
 border-top: 1px dotted #8c8b8b;
}

.list-group {
  background-color: #4e5d6c;
}
div.list-group div.list-group-item {
   border: 2px solid #2b3e50;
}
.list-group-item {
  border: 0px solid transparent;
  background-color: #4e5d6c;
}
  a.list-group-item {
    text-decoration: none;
    color: #ebebeb;
  }
  a.list-group-item:hover {
    background-color: #485563;
    color: #ebebeb;
    /*text-decoration: underline;*/
  }
  @media only screen and (max-width: 640px){
    .list-group {
      font-size: 80%;
    }
  }

.title-centered {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* todo rename to reflect what uses it (list) */
.align-center {
  text-align: center;
  font-size: 130%;
}
 
